.filmGrid {
    margin: 20px auto 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
}

.countFilms {
    width: 90%;
    margin: 0 auto;
    color:  white;
    font-size: 120%;
    padding: 10px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}
