nav {
    height: 60px;
    /* border: 1px solid white; */
    vertical-align: middle;
    width: 90%;
    margin: 0 auto;
}

.logo {
    height: 40px;
    /* border: 1px solid white; */
}

.headNav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none
}

.headNav li {    
    /* border: 1px solid white; */
    line-height: 60px;
    text-align: center;
    border-bottom: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    flex-grow: 1;
    transition-property: border-bottom;
    transition-duration: 200ms;
}

.headNav li a {
    color: white;
    display: block;
    height: 100%;
    text-decoration: none;
    transition-property: color;
    transition-duration: 200ms;
}

.headNav li a img{
    vertical-align: middle;
}

.headNav li a:hover {
    cursor: pointer;
    color: #aaa;
}

.active {
    color: #f65261 !important;
}

