.root {
    color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.8);
    display: flex;
}

.closeDiv {
    text-align: right;
    color: white;
    transition-property: color;
    transition-duration: 300ms;
}

.closeDiv:hover {
    color: #F65261;
    cursor: pointer;
}

.filmInfoWrapper {
    align-self: center;
    background-color: #232323;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 70%;
    min-width: 600px;
}

.home img {
    height: 40px;
}

.search {
    width: 25px;
}

.searchHover {
    cursor: pointer;
}

.filmInfoDiv {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 50px;
    align-items: center;
}

.poster img {
    width: 100%;
    height: 100%;
    min-width: 200px;
    min-height: 300px;
    flex-grow: 1;
    background: url("./../../imgNotFound.bmp");
    background-size: cover;
    background-position: center;
}

.info {
    min-width: 300px;
    flex-grow: 4;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titleText {
    font-size: 200%;
    letter-spacing: 2pt;
}

.rating {
    border: 2px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    color: green;
    text-align: center;
    line-height: 60px;
    font-weight: 600;
    margin-left: 40px;
}

.tagline {
    color: #555555;
}

.date {
    color: #F65261;
    display: flex;
    flex-direction: row;
    font-size: 120%;
    margin: 5px 0;
}

.runtime {
    margin-left: 40px;
}